<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Bykes - Make it yours</title>
</head>
<body>
    <main class="container col-8">

      <!--Navbar-->
      <header class="row header">
      <div class="fixed-top col-12">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="p-4 navbar-expand-md navbar-expand-lg navbar-dark col-12" style="background-color: black">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/quienesSomos">¿Quienes somos? <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/productos">Bicicletas <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/productos/custom">Customizar <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/contacto">Contacto <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/administrador">Administrar <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </div>

        <nav class="navbar navbar-transparent bg-transparent">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <ion-icon name="menu-outline"></ion-icon>
          </button>
          <div>
          <!--  <a href="register">
               <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Log in</button>
             </a>
             <a href="/carrito/lista">
               <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><ion-icon name="cart-outline"></ion-icon></button>
             </a> --> 
          </div>
        </nav>
      </div>

      </header>

          <br><br><br>
        <section class="seccion row">

          <article class="titulo d-flex justify-content-center">
            <h1 class="border-bottom border-dark col-12">PRODUCTO PARA CUSTOM</h1>
          </article>

          <br><br><br>
          
          <article class="formulario col-12">
            <form>
              
              <!--Tipo de pieza-->
              <h6>Tipo de Pieza:</h6>
              <div class="pieza">
                
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" name="cuadro" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline1">Cuadro</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" name="ruedas" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline2">Ruedas</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline3" name="cambios" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline3">Cambios</label>
                </div>
              </div>
              <br>
              <br>
              
              <div class="talle-rodado">

                <!--Talle-->
                <div class="talle d-flex">
                  <h6>Talles disponibles:</h6>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadio1" name="small" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Small</label>
                  </div>
                  <br>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadio2" name="medium" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">medium</label>
                  </div>
                  <br>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadio3" name="large" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio3">Large</label>
                  </div>
                </div>
                  
                <!--Rodado-->
                <div class="talle d-flex">
                  <h6>Rodados disponibles</h6>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="27" name="27" class="custom-control-input">
                    <label class="custom-control-label" for="27">27,5 "</label>
                  </div>
                  <br>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="29" name="29" class="custom-control-input">
                    <label class="custom-control-label" for="29">29 "</label>
                  </div>
                  <br>
                </div>

              </div><br><br>

              <!--Colores-->
              <h6>Colores disponibles:</h6>
                <div class="color">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadio4" name="blanco" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio4">Blanco</label>
                  </div>
                  <br>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadio5" name="negro" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio5">Negro</label>
                  </div>
                  <br>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadio6" name="gris" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio6">Gris</label>
                  </div>
                </div>
                <br>
                <div class="color">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadio7" name="rojo" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio7">Rojo</label>
                  </div>
                  <br>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadio8" name="azul" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio8">Azul</label>
                  </div>
                  <br>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadio9" name="amarillo" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio9">Amarillo</label>
                  </div>
                </div>
                <br>
                <div class="color">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadio10" name="verde" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio10">Verde</label>
                  </div>
                  <br>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadio11" name="naranja" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio11">Naranja</label>
                  </div>
                  <br>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="customRadio12" name="marron" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio12">Marron</label>
                  </div>
                </div>
              <br><br>

              <h6>Carga de archivo .PNG:</h6>
                <br>

              <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="validatedCustomFile">
                <label class="custom-file-label" for="validatedCustomFile">Modelo .PNG</label>
              </div>

              <br><br>

              <div class="marca-modelo">
                <input type="text" placeholder="Marca" name="marca" class="col-5 form-control">
                <input type="text" placeholder="Modelo" name="modelo" class="col-5 form-control">
              </div>
              <br><br>

              <div class="botones">
              <button type="submit" class="btn btn-primary btn-lg btn-dark" style="background-color: black">Cargar Producto</button>
              <a href="/administrador" class="btn btn-primary btn-lg btn-danger" style="background-color: #FF6000 ; border: orangered">Volver</a>
              <br><br><br>
              </div>

            </form>
          </article>
        </section>
    </main>
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>