*{
    justify-content: space-around;
}

h2{
    font-family: 'Barlow Condensed', sans-serif;
}

h6{
    font-family: 'Barlow Condensed', sans-serif;
}

h5{
    font-family: 'Barlow Condensed', sans-serif;
}

input{
    font-family: 'Montserrat', sans-serif;
}