header{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}

h1{
    font-family: 'Barlow Condensed', sans-serif;
}

h2{
    font-family: 'Barlow Condensed', sans-serif;
}

input{
    font-family: 'Montserrat', sans-serif;
}