
* {
    box-sizing: border-box;

}

/*tipografias*/

body {
    font-family: 'Montserrat', sans-serif;
}

h6, h5 {
    font-family: 'Barlow Condensed', sans-serif;
}

h5 {
    font-size: 30px;
}

h6 {
    font-size: 30px;
}


div a {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}

/*contenedor padre*/
main {
    display: flex;
    flex-wrap: wrap;
    /*max-width: 100%;
    max-height: 100vh;*/
    flex-direction: row;
    justify-content: center;
}

/*navbar*/
header {
    min-width: 100%;
    min-height: 12vh;
    background-color: white;
}

/*seccion perteneciente al producto*/

.cuerpo {
    max-width: 100%;
    max-height: 160vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.titulo {
    max-width: 100%;
    max-height: 7vh;
    background-color: #000000;
    text-align: center;
    color: #FF6000;
    padding-top: 2px;
    
}

.fotoProducto {
    max-width: 100%;
    max-height: 100vh;
    background-color: white;
    border: solid 1px black;
    margin: 40px;
    display: flex;

}

.bici {
    width: 100%;
    padding: 20px;
    text-align: center;
}


.miSeleccion {
    font-size: 11px;
    border: solid 1px black;
    max-height: 18vh;
    padding: 7px;
    margin-top: 40px;

}

/*ancho de los detalles del producto*/

.carta {
    max-width: 100%;
    border: solid 1px black;
    margin-left: 40px;
    padding: 10px;

}

/*estilos del footer*/
.footer {
    min-width: 100%;
    min-height: 24vh;
    background-color: #343a40!important;
    margin-top: 100px;
}

div figure img {
    width: 25%;
}

footer div a {
    color: white;
}

.cartaFooter {
    border: 0px
}

.redes {
    padding-top: 20px;
}

.logo {
    margin-bottom: 10px;
}


@media (max-width: 320px) {
 
    /*tipografias*/
  
    h5 {
        font-size: 20px;
    }
    
    h6 {
        font-size: 20px;
    }
    
    p {
        font-size: 14px;
    }
    
    div a {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
    }
    
    /*contenedor padre*/
    
    /*navbar*/
    header {
        min-height: 15vh;
    }
    
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        max-width: 100%;
        min-height: 220vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    .fotoProducto {
        max-width: 100%;
        min-height: 20vh;
        background-color: white;
        border: solid 1px black;
        margin-top: 0px;
        display: flex;
    
    }
    
    .bici {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    
    
    .miSeleccion {
        font-size: 11px;
        border: solid 1px black;
        max-height: 0vh;
        padding: 7px;
        margin-top: -35px;
    
    }
    
    /*ancho de los detalles del producto*/
    
    .carta {
        max-width: 100%;
        border: solid 1px black;
        padding: 10px;
        margin-left: 0px;
        margin-top: 40px;
    
    }
    
    /*estilos del footer*/
    .footer {
        max-width: 100%;
        background-color: #343a40!important;
        margin-top: 100px;
    }
    
    div figure img {
        width: 25%;
    }
    
    footer div a {
        color: white;
    }
    
    .cartaFooter {
        border: 0px;
        font-size: 14px;
    }
    
    .contacto {
        margin: 0px;
    }

    .redes {
        margin: 0px;
        padding-top: 0px;
    }
    
    .logo {
        margin: 0px;
        margin-bottom: 80px;
    }

}

@media (max-width: 360px) {

    /*tipografias*/
  
    h5 {
        font-size: 20px;
    }
    
    h6 {
        font-size: 20px;
    }
    
    p {
        font-size: 14px;
    }
    
    div a {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
    }
    
    /*contenedor padre*/
    
    /*navbar*/
    header {
        min-height: 15vh;
    }
    
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        max-width: 100%;
        max-height: 180vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    .fotoProducto {
        max-width: 100%;
        max-height: 50vh;
        background-color: white;
        border: solid 1px black;
        margin-top: 40px;
        display: flex;
    
    }
    
    .bici {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    
    
    .miSeleccion {
        font-size: 11px;
        border: solid 1px black;
        min-height: 18vh;
        padding: 7px;
        margin-top: 0px;
    }
    
    /*ancho de los detalles del producto*/
    
    .carta {
        max-width: 100%;
        border: solid 1px black;
        padding: 10px;
        margin-left: 0px;
        margin-top: 10px;
    
    }
    
    /*estilos del footer*/
    .footer {
        max-width: 100%;
        max-height: 65vh;
        background-color: #343a40!important;
        margin-top: 100px;
    }
    
    div figure img {
        width: 25%;
    }
    
    footer div a {
        color: white;
    }
    
    .cartaFooter {
        border: 0px;
        font-size: 14px;
    }
    
    .contacto {
        margin: 0px;
    }

    .redes {
        margin: 0px;
        padding-top: 0px;
    }
    
    .logo {
        margin: 0px;
    }

}

@media (max-width: 414px) {
    /*tipografias*/
  
    h5 {
        font-size: 20px;
    }
    
    h6 {
        font-size: 20px;
    }
    
    p {
        font-size: 14px;
    }
    
    div a {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
    }
    
    /*contenedor padre*/
    
    /*navbar*/
    header {
        min-height: 15vh;
    }
    
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        max-width: 100%;
        max-height: 180vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    .fotoProducto {
        max-width: 100%;
        max-height: 50vh;
        background-color: white;
        border: solid 1px black;
        margin-top: 40px;
        display: flex;
    
    }
    
    .bici {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    
    
    .miSeleccion {
        font-size: 11px;
        border: solid 1px black;
        min-height: 25vh;
        padding: 7px;
        margin-top: 0px;
    }
    
    /*ancho de los detalles del producto*/
    
    .carta {
        max-width: 100%;
        border: solid 1px black;
        padding: 10px;
        margin-left: 0px;
        margin-top: 10px;
    
    }
    
    /*estilos del footer*/
    .footer {
        max-width: 100%;
        max-height: 65vh;
        background-color: #343a40!important;
        margin-top: 100px;
    }
    
    div figure img {
        width: 25%;
    }
    
    footer div a {
        color: white;
    }
    
    .cartaFooter {
        border: 0px;
        font-size: 14px;
    }
    
    .contacto {
        margin: 0px;
    }

    .redes {
        margin: 0px;
        padding-top: 0px;
    }
    
    .logo {
        margin: 0px;
    }


}

@media (max-width: 768px) {

     /*tipografias*/
  
     h5 {
        font-size: 25px;
    }
    
    h6 {
        font-size: 25px;
    }
    
    p {
        font-size: 16px;
    }
    
    div a {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
    }
    
    /*contenedor padre*/
    
    /*navbar*/
    header {
        min-height: 15vh;
    }
    
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        max-width: 100%;
        max-height: 180vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    .fotoProducto {
        max-width: 100%;
        max-height: 50vh;
        background-color: white;
        border: solid 1px black;
        margin-top: 40px;
        display: flex;
    
    }
    
    .bici {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    
    
    .miSeleccion {
        border: solid 1px black;
        min-height: 12vh;
        padding: 7px;
        margin-top: 40px;
    }
    
    /*ancho de los detalles del producto*/
    
    .carta {
        max-width: 100%;
        border: solid 1px black;
        padding: 10px;
        margin-left: 0px;
        margin-top: 10px;
    
    }
    
    /*estilos del footer*/
    .footer {
        min-width: 100%;
        min-height: 15vh;
        background-color: #343a40!important;
        margin-top: 100px;
    }
    
    div figure img {
        width: 30%;
    }
    
    footer div a {
        color: white;
    }
    
    .cartaFooter {
        border: 0px;
        font-size: 14px;
    }
    
    .contacto {
        margin-top: 5px;
    }

    .redes {
        margin-top: 5px;
        padding-top: 10px;
    }
    
    .logo {
        margin-top: 5px;
    }

}

@media (max-width: 1024px) {

    .miSeleccion {
        border: solid 1px black;
        max-height: 8vh;
        padding: 7px;
        margin-top: 40px;
    }

    .footer {
        min-height: 10vh;   
    }

    .contacto {
        margin-top: 7px;
    }

    .redes {
        margin-top: 7px;
        padding-top: 14px;
    }
    
    .logo {
        margin-top: 7px;
    }
}




