
/* --------------hecho para media 320 como base------------------*/

* {
    box-sizing: border-box;

}

/*contenedor padre*/
main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}

/*navbar*/
header {
    width: 100%;
    height: 12vh;
    background-color: white;
}

/*tipografias*/

body {
    font-family: 'Montserrat', sans-serif;
}

h6, h5 {
    font-family: 'Barlow Condensed', sans-serif;

}

div a {
    font-family: 'Barlow Condensed', sans-serif;
}

/*seccion perteneciente al producto*/


.cuerpo {
    width: 100%;
    height: 170vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.titulo {
    width: 100%;
    height: 5vh;
    background-color: #000000;
    text-align: center;
    color: #FF6000;
    padding-top: 2px;
    
}

.producto {
    width: 100%;
    height: 152vh;
    background-color: white;
    margin-left: 10px;
    margin-right: 40px;
    border: solid 1px black;

}

article img {
    width: 50%;
    padding: 5px;
}

figure {
    padding: 5px;
    width: 100%;
}

.miSeleccion {
    font-size: 11px;

}

/*ancho de los detalles del producto*/

.uno{
    width: 15rem;
    margin-top: 8px;
    font-size: 11px;
    border: solid 1px black;
}

.dos {
    width: 15rem;
    margin-top: 8px;
    font-size: 11px;
    border: solid 1px black;
}


/*estilos del footer*/
.footer {
    width: 100%;
    height: 24vh;
    background-color: #343a40!important;
}

div figure img {
    width: 65%;
}

footer div a {
    color: white;
}

.contacto {
    width: 9rem;
    margin-bottom: 19px;
    border: 0px;  
}


.logo {
    width: 9rem;
    margin-bottom: 19px;
    border: 0px;
}


@media (min-width: 360px) {

    /*detalle de producto*/
    .cuerpo {
        height: 150vh;
    }
    
    .producto {
        height: 135vh;
    }


    .uno{
        width: 17rem;
    }
    
    .dos {
        width: 17rem;
    }

    /*footer*/
    .footer {
        height: 22vh;
       
    }

    div figure img {
        width: 75%;
    }

    .contacto {
        margin-top: 3px; 
    }
    
    .logo {
        margin-top: 3px;
    }

}
    


@media (min-width: 375px) {
    /*detalle de producto*/
    .cuerpo {
        height: 150vh;
    }
    
    .producto {
        height: 130vh;
    }


    .uno{
        width: 17rem;
    }
    
    .dos {
        width: 17rem;
    }

    /*footer*/
    .footer {
        height: 22vh;
       
    }

    div figure img {
        width: 75%;
    }

    .contacto {
        margin-top: 3px; 
    }
    
    .logo {
        margin-top: 3px;
    }
}


@media (min-width: 768px) {

    /*header y botones*/



    /*tipografias*/
    
    h6, h5 {
        font-size: 2rem;
    
    }

    p {
        font-size: 1rem;
    }

    /*detalle de producto*/
    .cuerpo {
        justify-content: center;
        height: 120vh;
    }
    
    .producto {
        height: 105vh;
    }


    .uno{
        width: 32.5rem;
    }
    
    .dos {
        width: 32.5rem;
    }

    /* footer */

    div figure img {
        width: 55%;
    }

    .contacto {
        font-size: 2rem; 
    }

}

@media (min-width: 993px) {

    .titulo {
        padding-top: 7px;
        
    }

    .cuerpo {
        height: 100vh;
    }

    .producto {
        height: 85vh;
    }

    .uno{
        width: 43rem;
    }
    
    .dos {
        width: 43rem;
    }

    /*footer*/
    .footer {
        height: 18vh;
       
    }

    div figure img {
        width: 45%;
    }

    .contacto {
        margin-top: 5px;
        margin-bottom: 5px; 
    }
    
    .logo {
        margin-top: 5px;
        margin-bottom: 5px;
    }


}

@media (min-width: 1024px) {
    
    /*tipografias*/
    
    h6, h5 {
        font-size: 3rem;
    
    }

    p {
        font-size: 1.5rem;
    }

     /*detalle de producto*/

    .cuerpo {
        height: 120vh;
    }
    
    .producto {
        height: 98vh;
    }
    

    .uno{
        width: 45rem;
    
    }
    
    .dos {
        width: 45rem;
    }
    
}

