.formularios{
    position: relative;
    top: 110px;
    display: flex;
    width: 100%;
    justify-content: center;
}

h2{
    font-family: 'Barlow Condensed', sans-serif;
}

input{
    font-family: 'Montserrat', sans-serif;
}