<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- <link rel="stylesheet" href="css/master.css"> -->
    <link rel="stylesheet" href="../../../public/css/register.css">
    <title>Document</title>
</head>
<body>
    <header class="row">
        <h1 class="col-sm">BURGER</h1>
        <h1 class="col-sm">LOGO</h1>
        <h1 class="jutify-content-end col-sm">CARRITO</h1>
    </header>
    <section id="reg-log" class="row container-fluid">
        <div class="col-sm  justify-content-center">
            <h2>INICIAR SESION</h2>
            <br>
            <form action="#" method="POST">
            <p>
                <input type="email" name="email" placeholder="Mail">
                <br>
                <br>
            </p>
            <p>
                <input type="password" name="password" placeholder="Contraseña">
                <br>
            </p>
            <p>
                <input type="submit" value="Iniciar Sesión">
            </p>    
            </form>
        </div>
        <div class="col-sm  justify-content-center">
            <h2>REGISTRARSE</h2>
            <form action="#" method="POST"></form>
            <p>
                <h4>Registrate y accede a nuestros beneficios</h4>
            </p><br>
            
                <input type="text" name="nombre" placeholder="Nombre">
            
            
                <input type="text" name="apellido" placeholder="Apellido">
            <br><br>
            
                <input type="text" name="direccion" placeholder="Direccion">
            <br><br>
            
                <input type="text" name="provincia" placeholder="Provincia">
            
            
                <input type="text" name="localidad" placeholder="Localidad">
            <br><br>
            
                <input type="number" name="codigo postal" placeholder="CP">
            <br><br>
            
                <input type="number" name="dni" placeholder="DNI">
            
            
                <input type="number" name="telefono" placeholder="Telefono">
            <br><br>
            
                <input type="email" name="email" placeholder="Mail">
            <br><br>
            
                <input type="password" name="password" placeholder="Contraseña">
            <br><br>
            
                <input type="submit" value="Registrarse">
            
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>