<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/quienesSomos.css">
    <title>Bykes - Make it yours</title>
</head>
<body>
    <main class="">
        <!--Navbar-->
    <header class="row header">
        <div class="fixed-top col-12">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="p-4 navbar-expand-md navbar-expand-lg navbar-dark col-12" style="background-color: black">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/quienesSomos">¿Quienes somos? <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/productos">Bicicletas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/productos/custom">Customizar <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#contacto">Contacto <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </div>
  
          <nav class="navbar navbar-transparent bg-transparent">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <ion-icon name="menu-outline"></ion-icon>
            </button>
            <div>
               <a href="register">
                 <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Log in</button>
               </a>
               <a href="/carrito/lista">
                 <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><ion-icon name="cart-outline"></ion-icon></button>
               </a>
            </div>
          </nav>
        </div>
  
    </header>

        <!--Listado de Fotos-->
        <section>

            <article>
                <div class=" card text-center bg-dark text-white col-12">
                    <img src="/img/persona1.jpg" class="card-img" alt="persona1">
                    <div class="card-img-overlay" style="width: 50%; height: 50%;">
                      <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores mollitia optio suscipit deleniti quibusdam amet, atque, vitae ex aspernatur odio dolor ratione necessitatibus aut. Possimus aspernatur nemo ratione repudiandae? Odio facere perferendis enim quas esse omnis ut dicta, aliquam voluptas quam sit, sed modi impedit, ab rem. Soluta, id tenetur.</p>
                    </div>
                </div>
            </article>

            <article class="col-12">
                <div class="card bg-dark text-white">
                    <img src="/img/persona2.jpg" class="card-img" alt="persona2">
                    <div class="card-img-overlay">
                      <h5 class="card-title"></h5>
                      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores mollitia optio suscipit deleniti quibusdam amet, atque, vitae ex aspernatur odio dolor ratione necessitatibus aut. Possimus aspernatur nemo ratione repudiandae? Odio facere perferendis enim quas esse omnis ut dicta, aliquam voluptas quam sit, sed modi impedit, ab rem. Soluta, id tenetur.</p>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </article>

            <article class="col-12">
                <div class="card bg-dark text-white">
                    <img src="/img/persona3.jpg" class="card-img" alt="persona3">
                    <div class="card-img-overlay">
                      <h5 class="card-title"></h5>
                      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores mollitia optio suscipit deleniti quibusdam amet, atque, vitae ex aspernatur odio dolor ratione necessitatibus aut. Possimus aspernatur nemo ratione repudiandae? Odio facere perferendis enim quas esse omnis ut dicta, aliquam voluptas quam sit, sed modi impedit, ab rem. Soluta, id tenetur.</p>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </article>

        </section>

    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>