<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/carritoLista.css">
    <title>Document</title>

</head>
<body>
<main>
  <br>
  <h2>Carrito de Compras</h2>
  <br>
  <section>
    <!--Item 1-->
    <div class="row border-top border-dark">
      <div class="col-md-4">
        <img src="/img/aventonMataro.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title  font-italic"><small class="text-muted">Marca</small>Aventon</h5>
          <h5 class="card-title  font-italic"><small class="text-muted">Modelo</small>Mataro</h5>
          <h5 class="card-title  font-italic"><small class="text-muted">Estilo</small>Fixie</h5>
          <h5 class="card-title  font-italic"><small class="text-muted">Precio</small>$80.000</h5>
          <h5 class="card-title  font-italic"><small class="text-muted">Descuento</small>25%</h5>
          <h5 class="card-title  font-italic"><small class="text-muted">Cuotas</small>18</h5>
        </div>
      </div>
    </div>
    <!--Item 2-->
    <div class="row border-top border-dark">
        <div class="col-md-4">
          <img src="/img/aventonCordoba.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title  font-italic"><small class="text-muted">Marca</small>Aventon</h5>
            <h5 class="card-title  font-italic"><small class="text-muted">Modelo</small>Cordoba</h5>
            <h5 class="card-title  font-italic"><small class="text-muted">Estilo</small>Fixie</h5>
            <h5 class="card-title  font-italic"><small class="text-muted">Precio</small>$45.000</h5>
            <h5 class="card-title  font-italic"><small class="text-muted">Descuento</small>0%</h5>
            <h5 class="card-title  font-italic"><small class="text-muted">Cuotas</small>12</h5>
          </div>
        </div>
    </div>
    <!--Item 3-->
    <div class="row border-top border-dark">
      <div class="col-md-4">
        <img src="/img/biciPortada.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title  font-italic"><small class="text-muted">Marca</small>Trek</h5>
          <h5 class="card-title  font-italic"><small class="text-muted">Modelo</small>Remedy</h5>
          <h5 class="card-title  font-italic"><small class="text-muted">Estilo</small>Mountain</h5>
          <h5 class="card-title  font-italic"><small class="text-muted">Precio</small>$45.000</h5>
          <h5 class="card-title  font-italic"><small class="text-muted">Descuento</small>0%</h5>
          <h5 class="card-title  font-italic"><small class="text-muted">Cuotas</small>12</h5>
        </div>
      </div>
    </div>
  </section>

<!--Resumen con foto-->
<div class="resumen card col-12">
  <div class="card-body">
    <h2 class="card-title">Resumen del pedido</h2>
  </div>
  <article class="d-flex justify-content-between">
    <div class="col-6">
      <h6>Costo</h6>
      <br>
      <h6>Descuento</h6>
      <br>
      <h6>Envío</h6>      
    </div>  
    <div class="col-6">
      <h6>Valor</h6>
      <br>
      <h6>Valor</h6>
      <br>
      <h6>Valor</h6>      
    </div>
  </article>
  <article class="row border-top border-dark">
    <div class="col-6">
      <h2>TOTAL</h2>
    </div>

    <div class="col-6">
      <h2>Precio Final</h2>
    </div>
  </article>
</div>

</main>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>