<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/masterhome.css">
    <title>Bykes - Make it yours</title>
</head>
<body>
  <main class="container-fluid">
    <!--Navbar-->
    <header class="row header">
      <div class="fixed-top col-12">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="p-4" style="background-color: black">

            <nav class="navbar navbar-expand-lg navbar-dark col-12" style="background-color: black">
              <a class="navbar-brand" href="/">Bykes</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse col-12" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">¿Quienes somos? <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/productos">Bicicletas <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/productos/custom">Customizar <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#contacto">Contacto <span class="sr-only">(current)</span></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <nav class="navbar navbar-transparent bg-transparent">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <ion-icon name="menu-outline"></ion-icon>
          </button>
          <div>
             <a href="register">
               <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Log in</button>
             </a>
             <a href="/carrito/lista">
               <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><ion-icon name="cart-outline"></ion-icon></button>
             </a>
          </div>
        </nav>
      </div>

    </header>    
    
    <!--Listado de Productos-->
    <section class="row">

      <article class="col-12">
        <div class="card bg-transparent text-white border-0">
          <img src="img/fixievioleta.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="titulo card-title text-center mt-30 pt-30">SCOTT - SPEEDSTER 10</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/mtbkscott.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">SCOTT - SCALE 970</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>
 
      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/aventonMataro.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">AVENTON MATARO</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      
      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/aventonCordoba.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">AVENTON CORDOBA</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/trekRemedy.jpeg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">TREK - REMEDY 9.7</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/canyonCommuter.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">CANYON - COMMUTER 5.0</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/capriBerlinMan.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">CAPRI - BERLIN MAN</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/mtbkkona.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">KONA - PROCESS 134 DL</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/fixieverde.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">BLACK LABEL - 6061 V2</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/fixieamarilla.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">CINELLI - PISTA 19</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>



    </section>

    <!--Footer-->
    <footer class="row footer">
      
      <article class="contacto col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

        <div class="cartaFooter card text-center" style="background-color: black">
          <div class="card-body" style="background-color: black">
            <h4 class="card-title text-white pt-0">Contacto</h4>
            <button type="button" class="btn btn-primary" style="background-color: #FF6000 ; border: orangered" data-toggle="modal" data-target="#staticBackdrop"><ion-icon name="navigate-circle-outline"></ion-icon>
            </button>
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h7 class="modal-title" id="staticBackdropLabel">Contacto - Bykes</h7>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form  action="#" method="POST">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="nombre">Nombre y apellido</label>
                        <input type="text" class="form-control" id="nombre">
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Observaciones</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-dark" style="background-color: black">Enviar la consulta</button>
                    </form> 
                    <br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1381.5628585945926!2d-58.44951009719536!3d-34.555359027021176!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb432f7eaebf5%3A0xb2db1f3d1218ef77!2sStarbucks!5e0!3m2!1ses!2sar!4v1592924492184!5m2!1ses!2sar" width="270" height="280" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    <h6>info@bykes.com</h6>
                    <h6>+ 54 9 11 4564-0000</h6>
                    <h6>Av Del Libertador 6200, Belgrano, CABA - Argentina</h6>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-dark" style="background-color: #FF6000 ; border: orangered" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>

      <article class="redes col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

        <div class="cartaFooter card text-center" style="background-color: black">
          <div class="card-body" style="background-color: black">
            <a href="https://www.instagram.com"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="https://www.facebook.com"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="https://twitter.com"><ion-icon name="logo-twitter"></ion-icon></a>
            <br>
            <a href="/" class="btn btn-primary" style="background-color: #FF6000 ; border: orangered"><ion-icon name="bicycle-outline"></ion-icon></a>
          </div>
        </div>

      </article>

      <article class="logo col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="cartaFooter card text-center" style="background-color: black">
          <div class="card-body" style="background-color: black">
            <figure>
              <img src="img/logofooter.PNG" alt="">
            </figure><a href="/productos" class="btn btn-primary" style="background-color: #FF6000 ; border: orangered"><ion-icon name="arrow-up-outline"></ion-icon></a>
          </div>
        </div>
      </article>

    </footer>

  </main>
    

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>