<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/masterhome.css">
    <title>Bykes - Make it yours</title>
</head>
<body>
  <main class="container-fluid">
    <!--Navbar-->
    <header class="row header">
      <div class="fixed-top col-12">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="p-4 navbar-expand-md navbar-expand-lg navbar-dark col-12" style="background-color: black">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/quienesSomos">¿Quienes somos? <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/productos">Bicicletas <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/productos/custom">Customizar <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/contacto">Contacto <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/administrador">Administrar <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </div>

        <nav class="navbar navbar-transparent bg-transparent">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <ion-icon name="menu-outline"></ion-icon>
          </button>
          <div>
             <a href="register">
               <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Log in</button>
             </a>
             <a href="/carrito/lista">
               <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><ion-icon name="cart-outline"></ion-icon></button>
             </a>
          </div>
        </nav>
      </div>

    </header>
    
    <!--Listado de Productos-->
    <section class="row">

      <article class="col-12">
        <div class="card bg-transparent text-white border-0">
          <img src="img/fixievioleta.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="titulo card-title text-center mt-30 pt-30">SCOTT - SPEEDSTER 10</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/mtbkscott.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">SCOTT - SCALE 970</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>
 
      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/aventonMataro.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">AVENTON MATARO</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      
      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/aventonCordoba.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">AVENTON CORDOBA</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/trekRemedy.jpeg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">TREK - REMEDY 9.7</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/canyonCommuter.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">CANYON - COMMUTER 5.0</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/capriBerlinMan.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">CAPRI - BERLIN MAN</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/mtbkkona.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">KONA - PROCESS 134 DL</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/fixieverde.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">BLACK LABEL - 6061 V2</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>

      <article class="col-12">
        <div class="card bg-transparent text-white">
          <img src="img/fixieamarilla.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center">CINELLI - PISTA 19</h5>
            <a href="/productos/detalle" class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">
            Ver Más</button></a>
          </div>
        </div>
      </article>



    </section>

    <!--Footer-->
    <%- include('../partials/footer.ejs') %>

  </main>
</body>
</html>